{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'css2/log/style1.css' %}">
  <link rel="shortcut icon" href="{% static 'images/logoo.jpg' %}" type="image/png">
  <title>Masterio</title>
</head>
<body>
  <section>
    <div class="box">
      <div class="form">
        <center> <h1>Welcome !!</h1>   <h2>Admin register</h2>
      <form action="/forgetpass_adminreg" method="POST">
        {% csrf_token %}
        <div class="inputBx">
          <input type="text" name="Username" placeholder="Username" required>
        </div><br>
        <div class="inputBx">
          <input type="text" name="First_name" placeholder="First_name"required>
        </div><br>
        <div class="inputBx">
          <input type="text"name="Last_name" placeholder="Last_name"required>
         

        </div><br>
        <div class="inputBx">
          <input type="text" name="Mail_id" placeholder="Mail_id"required>
          

        </div><br>
        <div class="inputBx">
          <input type="password" name="create_password" placeholder="create_password"required>
          

        </div><br>
        <div class="inputBx">
            <input type="password" name="password" placeholder="confirm_password"required>
            
  
          </div><br>
        
       <div class="inputBx">
          <input type="submit" value="Done">

        </div>
      </form><br><br>
     
      <p><a href="#">Any Help?</a></p>
    </center> 
    </div>

    </div>
  </section>
</body>
</html>